Repository tomboone/tbc-drupal-multi: changes, and which pre-commit hooks are due for each by the changed paths.
All: drupal-config-export-check, composer-validate

.pre-commit-config.yaml:

# Pre-commit configuration for Drupal project (Docker-aware)
repos:
  - repo: local
    hooks:
      - id: drupal-config-export-check
        name: Check Drupal configuration export
        entry: .githooks/check-config-export.sh
        language: script
        files: '^(web/sites/.*/settings\.php|web/modules/custom/.*|web/themes/custom/.*|config/.*)$'
        pass_filenames: false
        
      - id: composer-validate
        name: Validate composer.json  
        entry: bash -c 'if [ -f "docker-compose.yml" ] && docker-compose ps | grep -q "Up"; then docker-compose exec -T web composer validate --strict; else composer validate --strict; fi'
        language: system
        files: composer\.(json|lock)
        pass_filenames: false
        
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(web/sites/.*/files/|vendor/)'
      - id: end-of-file-fixer
        exclude: '^(web/sites/.*/files/|vendor/)'
      - id: check-yaml
        exclude: '^(web/sites/.*/files/|vendor/)'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        exclude: '^(web/sites/.*/files/|vendor/)'
      - id: check-merge-conflict

overhaul terraform
  .githooks/check-config-export.sh
  .github/scripts/run-drush-deploy.sh
  .github/workflows/azure-webapps-php.yml
  .github/workflows/swap-to-production.yml
  .gitignore
  Makefile
  deployment/azure_combined_ca.pem
  deployment/startup.sh
  drush/drush-config.example.yml
  drush/sites/tbc-drupal-multi.site.yml
  scripts/setup-database-settings.sh
  scripts/sync-databases.sh
  scripts/sync-github-secrets.sh
  scripts/tf-vars-to-github-env.sh
  terraform/.gitignore
  terraform/main.tf
  terraform/tfplan
  terraform/variables.tf
  web/sites/.gitignore
  web/sites/README.txt
  web/sites/default/.gitignore
  web/sites/example.settings.local.php
  web/sites/example.sites.php
  web/sites/sites.php
Due: none

Enhance Dependabot configuration for updates
  .github/dependabot.yml
Due: none

add backend.tf to repo
  terraform/.gitignore
  terraform/backend.hcl
  terraform/backend.tf
Due: none

update workflow version
  .github/workflows/azure-webapps-php.yml
Due: none

add startup command
  terraform/main.tf
Due: none

update site configs
  config/sync/jeanneandtom.com/jat_theme.settings.yml
  config/sync/rss.tomboone.com/system.performance.yml
  config/sync/rss.tomboone.com/views.view.feeds.yml
Due: drupal-config-export-check

workflow tweak
  .github/workflows/azure-webapps-php.yml
Due: none

debug workflow
  .github/workflows/azure-webapps-php.yml
Due: none

simplify build
  .github/workflows/azure-webapps-php.yml
Due: none

fix 403 in nginx
  deployment/default
Due: none

update nginx
  deployment/default
Due: none

simplify readme;
  README.md
Due: none

add DRUPAL_ENV to sticky_settings
  terraform/main.tf
Due: none

remove branch name from dependabot.yml
  .github/dependabot.yml
Due: none

update drupal core
  composer.lock
Due: composer-validate

update drupal dependencies
  composer.lock
Due: composer-validate

add grouped updates to dependabot
  .github/dependabot.yml
Due: none

pin timepicker
  composer.json
Due: composer-validate

update timepicker in composer.lock
  composer.lock
Due: composer-validate

php dependency updates; remove php dependabot config
  .github/dependabot.yml
  composer.lock
Due: composer-validate

remove stage slots and deploy to prod
  .github/workflows/azure-webapps-php.yml
  terraform/main.tf
  terraform/outputs.tf
Due: none

run from package
  terraform/main.tf
Due: none

tweak startup script execution
  terraform/main.tf
Due: none

tweak startup script
  deployment/startup.sh
Due: none

tweak startup script
  .github/workflows/azure-webapps-php.yml
  deployment/startup.sh
  terraform/main.tf
Due: none

tweak startup script
  .github/workflows/azure-webapps-php.yml
Due: none

cleanup deploy job
  .github/workflows/azure-webapps-php.yml
Due: none

update content access
  composer.json
  composer.lock
Due: composer-validate

update traefik rule syntax
  docker-compose.yml
Due: none

module updates
  composer.lock
Due: composer-validate

add weekly dependabot updates for composer packages
  .github/dependabot.yml
Due: none

remove npm package files from custom theme
  web/themes/custom/tbc_theme/bootstrap/package-lock.json
  web/themes/custom/tbc_theme/bootstrap/package.json
Due: drupal-config-export-check

add paths to limit deploy action trigger
  .github/workflows/azure-webapps-php.yml
Due: none

add taskfile for running container tasks
  .claude/CLAUDE.md
  .env.example
  .gitignore
  README.md
  Taskfile.yml
  scripts/sync-databases.sh
Due: none
